*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c0c0c0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(minmax,1fr);
    grid-template-areas: 
    "card card card"
    "card card card"
    "card card card";
    justify-content: center;
    align-items: center;
    margin: 30% auto;
    grid-gap:5em;
    height:40em;
    width:40em;
    border-radius: 79px;
    background: #c0c0c0;
    box-shadow:  19px 19px 38px #a1a1a1, 
                 -19px -19px 38px #dfdfdf;
}

.card{    

    height:5.3em;
    width:5.3em;
    border-radius: 79px;
    background-image: radial-gradient(circle, #c0c0c0, #c2c2c2, #c4c4c4, #c7c7c7, #c9c9c9);
    box-shadow:  19px 19px 38px #a1a1a1, 
                 -19px -19px 38px #dfdfdf;
 } 

 i{
     display: block;
     padding: 50% auto;
     margin: 0.4em;
     opacity: 0.07;
 }
 i:hover{
     opacity: 0.5;
     
 }